/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Quattrocento+Sans);
/*VARIABLES*/
/* demo styles
--------------------------------------------- */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 3em;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 200%;
}

/* Parallax base styles
--------------------------------------------- */
.parallax {
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

.parallax__layer--deeper {
  -webkit-transform: translateZ(-900px) scale(4);
  transform: translateZ(-900px) scale(4);
  z-index: 5;
}

/* centre the content in the parallax layers */
.stuff,
.title,
.small {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.small {
  font-size: 70%;
  top: 95%;
}

.stack {
  text-align: left;
  position: absolute;
  max-width: 500px;
  left: 10%;
  top: 30%;
}

.small {
  font-size: 100%;
  top: 95%;
}

.ideaimg {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lastfig {
  position: absolute;
  left: 50%;
  top: 15%;
}
.lastfig img {
  max-width: 650px;
}

.winner {
  position: absolute;
  left: 33%;
  top: 30%;
}
.winner img {
  max-width: 250px;
}

/* style the groups
--------------------------------------------- */
/*intro*/
#group1 {
  z-index: 5;
  /* slide over group 2 */
}

#group1 .parallax__layer--base {
  background: #271923;
  color: #ffcf60;
}

/*first idea*/
#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
  background: #031020;
}
#group2 .parallax__layer--back img {
  max-width: 250px;
}

/*first idea is hardest*/
#group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
  background: #ffcf60;
  color: #271923;
}

/*but then they flow (1st)*/
#group4 {
  height: 100vh;
  z-index: -2;
  /* slide under group 3 and 5 */
}

#group4 .parallax__layer--back {
  background: transparent url(..//img/falling2x1.png) 0 0 no-repeat;
  background-size: cover;
}

#group4 .parallax__layer--deep {
  background: transparent url(..//img/falling3x15.png) 0 0 no-repeat;
  background-size: cover;
}

#group4 .parallax__layer--deeper {
  background: #031020;
}

/*gotta pick the best and think even more*/
#group5 {
  height: 100vh;
  z-index: 3;
  /* slide over group 2 and 4 */
}

#group5 .parallax__layer--base {
  background: #271923;
  color: #fffbd6;
  transform: scale(1.2);
}

/*even more ideas come (2nd)*/
#group6 {
  height: 100vh;
}

#group6 .parallax__layer--base {
  z-index: 4;
  background: transparent url(..//img/falling2x1.png) 0 0 no-repeat;
  background-size: cover;
}

#group6 .parallax__layer--back {
  background: transparent url(..//img/falling4x2.png) 0 0 no-repeat;
  background-size: cover;
}

#group6 .parallax__layer--deep {
  background: transparent url(..//img/falling3x15.png) 0 0 no-repeat;
  background-size: cover;
}

#group6 .parallax__layer--deeper {
  background: #031020;
}

/*get some shut eye*/
#group7 {
  z-index: 4;
  /* slide over group 4 and 6 */
}

#group7 .parallax__layer--base {
  background: #271923;
  color: #ffcf60;
}

/*morning/sunrise*/
#group8 {
  z-index: 3;
  /* slide under group 5 and 7 */
}

#group8 .parallax__layer--back {
  background: #7bafb1;
}
#group8 .parallax__layer--back img {
  max-width: 400px;
}

#group8 .parallax__layer--base img {
  min-width: 100%;
}

/*pick the winners*/
#group9 {
  z-index: 3;
  /* slide over group 6 and 8 */
}

#group9 .parallax__layer--base {
  background: transparent url(..//img/clarity.png) 0 0 no-repeat;
  background-size: cover;
}

#group9 .parallax__layer--fore {
  z-index: 6;
  color: #fffbd6;
}

/*the winning idea makes it big*/
#group10 {
  z-index: 2;
  /* slide under group 7 */
}

#group10 .parallax__layer--back {
  background: #031020;
  color: #fffbd6;
}

/*keep at it - it's a muscle*/
#group11 {
  z-index: 3;
  /* slide over group 8 */
}

#group11 .parallax__layer--base {
  background: #7bafb1;
  color: #271923;
}
