/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Quattrocento+Sans|Bubblegum+Sans);

/*VARIABLES*/
$main-plum: rgba(39,25,35,1);
$dark-blue: rgba(3,16,32,1);
$light-blue: rgba(123,175,177,1);
$yellow: rgba(255,207,96,1);
$cream: rgba(255,251,214,1);